html {
  width: 100%;
  height: 100%;
}

body {
  


	background-color: #595959;
	text-align: center;


  background-image: url("https://pre00.deviantart.net/7105/th/pre/f/2016/046/0/c/no_pain__no_gain__pt_1___cthulhu_mythos__by_spikevalance-d9rtxg8.jpg");
	background-position: center;
		background-repeat: no-repeat;
			background-size: cover;
				height: 100%; 

}
